@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

:root {
    --white: #FFFFFF;

    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;

    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;

    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;

    --gray: #D8DFE8;

    --padding: 2rem;

    --fonte-primaria: 'Inter', sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
}

h3 {
    font-family: var(--fonte-primaria);
    font-size: 1.6rem;
}

h5 {
    font-family: var(--fonte-primaria);
    font-size: 1rem;
}

.quadradao {
    height: auto;
    width: 100vw;
    background-color: rgb(3, 66, 66);
    display: flex;
}

.quadradinho {
    height: 95vh;
    width: 12vw;
    background: var(--light-blue-100);
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 3rem;
    width: 10rem;
}

.boliadinho {
    height: 95vh;
    width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-blue-100);

}

.caixinha {
    display: flex;
    margin-top: 13rem;
}

.textinho {
    background-color: transparent;
    border: none;
    font-size: 3.2rem;
    font-family: var(--fonte-primaria);
    color: var(--dark-blue-300);
    flex-grow: 2;
    outline: none;
    width: 55vw;
    height: 53vh;
    resize: none;
    overflow: hidden;
    font-weight: 600;
}

.textinho::placeholder {
    color: var(--dark-blue-300);
}

.avisinho {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    font-weight: 400;
}

.aviso {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes {
    height: 150px;
    width: 55vw;
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.botoes button {
    height: 5.5rem;
    width: 25rem;
    border-radius: 35px;
    background-color: var(--dark-blue-400);
    color: aliceblue;
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

.botoes .botao1 {
    
}

.botoes .botao2 button{
    border: none;
    background-color: var(--light-blue-300);
    color: var(--dark-blue-300);
}

.botao1 button:hover {
    background-color: var(--dark-blue-500);
}

.botao2 button:hover {
    background-color: var(--gray);
}

.metido {
    height: 95vh;
    width: 33vw;
    background: var(--light-blue-100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultado {
    height: 90vh;
    width: 28vw;
    background-color: var(--white);
    border-radius: 2.5rem;
    box-shadow: 10px 7px 30px 1px rgba(0, 0, 0, 0.1), 0 7px 25px 0 rgba(4, 19, 154, 0.19);
}

.resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--fonte-primaria);
    
}

.desenho {
    display: flex;
    justify-content: center;
    width: 24vw;
}


.mensagem1 h3 {
    font-size: 2rem;
    font-weight: 800;
}

.mensagem2 h5 {
    font-size: 1.3rem;
    font-weight: 400;
}

.credito {
    background-color: var(--light-blue-100);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-primaria);
    font-weight: 600;
}